/* * {
    padding: 0 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10 10px;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding-right: 100px;
    font-size: 24px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20 50px;
}

.links > ul {
    list-style-type: none;
    padding-right: 100px;
    font-size: 20px;
    display: flex;
}

.links > ul > li {
    padding: 10px;
    margin: 10px;
}

.copyright {
    font-size: 10px;
    margin: 40px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    min-height: 400px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}
.food-image {
    padding: 0;
    margin: 5px;
}
.food-image > img {
   width:100%;
   padding: 0;
   object-fit: cover;
   border-radius: 10px;
   height:100px;
}
.top-filter {
    padding: 10px;
}

.body {
    margin:5px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
}

.logging {
    padding: 0 10px;
}

.recipe-info {
    display: flex;
    justify-content: space-between;
}

.recipe-img > img {
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: inherit;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
